/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f4f4f4;
}
.container {
    width: 100%;
    max-width: 500px;
}
.input-container, .password-container, .buttons, .output-container {
    background-color: #e0e0e0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    resize: none;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.password-container input {
    width: calc(100% - 40px); /* Adjusted width to accommodate the eye icon */
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 40px;
}
.password-container {
    position: relative;
}
.password-container .eye-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 18px;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
button {
    width: 48%;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
}
button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
.output-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.output-label, .password-label, .input-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    width: 100%;
}
.output-label button, .password-label button, .input-label button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
}
#output {
    word-wrap: break-word;
    white-space: pre-wrap;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    overflow-y: hidden;
    box-sizing: border-box;
    border-radius: 5px;
    min-height: 24px; /* Set default height to one line of text */
    text-align: left; /* Ensure text aligns to the left */
}
#output-text {
    display: block;
}
#qr-code {
    margin-top: 10px;
}
.error-message {
    color: red;
    margin-top: -10px;
    margin-bottom: 10px;
}
#decrypt-error {
    color: red;
    margin-top: 10px;
}